
<header class="main-header header-style-two">
    <!-- header-bottom -->
    <div class="header-bottom">
        <div class="container">
            <div class="nav-outer">
                <div class="logo-box">
                    <figure class="logo-outer"><a href="http://dmqa.korea.ac.kr/"><img
                                src="http://dmqa.korea.ac.kr/static/assets/images/sub_logo_w.svg" alt=""></a></figure>
                </div>
                <div class="menu-area">
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix" style="display: none;">

                            <div class="row container navigation-header">
                                <div class="col-lg-4 col-md-4 col-sm-4 column">
                                    <figure class="logo-box"><a href="http://dmqa.korea.ac.kr/"><img
                                                src="http://dmqa.korea.ac.kr/static/assets/images/sub_logo_w.svg"
                                                alt=""></a></figure>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8 menu-column">
                                    <div class="navbar-header">
                                        <!-- Toggle Button -->
                                        <button type="button" class="navbar-toggle">
                                            <i class="ti-close"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <ul class="navigation container clearfix">
                                <li class="dropdown"><a href="http://dmqa.korea.ac.kr/introduction">About</a>
                                    <ul style="display: none;">
                                        <li><a href="http://dmqa.korea.ac.kr/introduction">Introduction</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/awards">Awards</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/location">Location</a></li>
                                    </ul>
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                </li>
                                <li class="dropdown"><a href="http://dmqa.korea.ac.kr/members/professor">Members</a>
                                    <ul style="display: none;">
                                        <li><a href="http://dmqa.korea.ac.kr/members/professor">Professor</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/members/current_students">Current
                                                Students</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/members/alumni">Alumni</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/members/captains">Captains</a></li>
                                    </ul>
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                </li>
                                <li class="dropdown"><a
                                        href="http://dmqa.korea.ac.kr/publications/papers/all_papers">Publications</a>
                                    <ul style="display: none;">
                                        <li class="dropdown"><a
                                                href="http://dmqa.korea.ac.kr/publications/papers/all_papers">Papers</a>
                                            <ul style="display: none;">
                                                <li><a href="http://dmqa.korea.ac.kr/publications/papers/all_papers">All
                                                        Papers</a></li>
                                                <li><a
                                                        href="http://dmqa.korea.ac.kr/publications/papers/international_papers">International
                                                        Papers</a></li>
                                                <li><a
                                                        href="http://dmqa.korea.ac.kr/publications/papers/domestic_papers">Domestic
                                                        Papers</a></li>
                                                <li><a
                                                        href="http://dmqa.korea.ac.kr/publications/papers/conference_papers">Conference
                                                        Papers</a></li>
                                            </ul>
                                            <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                        </li>

                                        <li><a
                                                href="http://dmqa.korea.ac.kr/publications/presentations">Presentations</a>
                                        </li>
                                    </ul>
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                </li>
                                <li class="dropdown"><a href="http://dmqa.korea.ac.kr/research/areas">Research</a>
                                    <ul style="display: none;">
                                        <li><a href="http://dmqa.korea.ac.kr/research/areas">Research Areas</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/research/projects">Projects</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/research/open_courses">Open Courses</a>
                                        </li>
                                    </ul>
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                </li>

                                <li class="dropdown"><a href="http://dmqa.korea.ac.kr/activity/news">Activity</a>
                                    <ul style="display: none;">
                                        <li><a href="http://dmqa.korea.ac.kr/activity/news">News</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/activity/album">Album</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/activity/seminar">Seminar</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/activity/conference">Conference</a></li>
                                        <li><a href="http://dmqa.korea.ac.kr/activity/essay">Essay</a></li>
                                    </ul>
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div><!-- header-bottom end -->


    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 column">
                    <figure class="logo-box"><a href="http://dmqa.korea.ac.kr/"><img
                                src="http://dmqa.korea.ac.kr/static/assets/images/sub_logo.svg" alt=""></a></figure>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 menu-column">
                    <div class="menu-area">
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">

                                    <li class="dropdown"><a href="http://dmqa.korea.ac.kr/introduction">About</a>
                                        <ul style="display: none;">
                                            <li><a href="http://dmqa.korea.ac.kr/introduction">Introduction</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/awards">Awards</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/location">Location</a></li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>
                                    <li class="dropdown"><a href="http://dmqa.korea.ac.kr/members/professor">Members</a>
                                        <ul style="display: none;">
                                            <li><a href="http://dmqa.korea.ac.kr/members/professor">Professor</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/members/current_students">Current
                                                    Students</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/members/alumni">Alumni</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/members/captains">Captains</a></li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>

                                    <li class="dropdown"><a
                                            href="http://dmqa.korea.ac.kr/publications/papers/all_papers">Publications</a>
                                        <ul style="display: none;">
                                            <li class="dropdown"><a
                                                    href="http://dmqa.korea.ac.kr/publications/papers/all_papers">Papers</a>
                                                <ul style="display: none;">
                                                    <li><a
                                                            href="http://dmqa.korea.ac.kr/publications/papers/all_papers">All
                                                            Papers</a></li>
                                                    <li><a
                                                            href="http://dmqa.korea.ac.kr/publications/papers/international_papers">International
                                                            Papers</a></li>
                                                    <li><a
                                                            href="http://dmqa.korea.ac.kr/publications/papers/domestic_papers">Domestic
                                                            Papers</a></li>
                                                    <li><a
                                                            href="http://dmqa.korea.ac.kr/publications/papers/conference_papers">Conference
                                                            Papers</a></li>
                                                </ul>
                                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                            </li>

                                            <li><a
                                                    href="http://dmqa.korea.ac.kr/publications/presentations">Presentations</a>
                                            </li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>


                                    <li class="dropdown"><a href="http://dmqa.korea.ac.kr/research/areas">Research</a>
                                        <ul style="display: none;">
                                            <li><a href="http://dmqa.korea.ac.kr/research/areas">Research Areas</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/research/projects">Projects</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/research/open_courses">Open Courses</a>
                                            </li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>

                                    <li class="dropdown"><a href="http://dmqa.korea.ac.kr/activity/news">Activity</a>
                                        <ul style="display: none;">
                                            <li><a href="http://dmqa.korea.ac.kr/activity/news">News</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/activity/album">Album</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/activity/seminar">Seminar</a></li>
                                            <li><a href="http://dmqa.korea.ac.kr/activity/conference">Conference</a>
                                            </li>
                                            <li><a href="http://dmqa.korea.ac.kr/activity/essay">Essay</a></li>
                                        </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                    </li>


                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sticky-header end -->



</header>

