{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/project.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/card.css' %}">
<div class="Project">
    <div class="Category">
            <h4>Projects</h4>
    </div>
    <div class="Contents">
        {% for project in projects %}
        {% cycle '<div class="row">' '' %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="single-tab-content">
                    <div class="single-item">
                        <h6>
                            {% if project.status == 'Doing'  %}
                            <p>
                                {{project.title}} - ongoing
                            </p>
                            {% else %}
                            <p>
                                {{project.title}}
                            </p>
                            {% endif %}
                        </h6>
                        <div class="item">
                            <div class="item-content">
                                <div class="lower-content clearfix">
                                    <div class="text">
                                        <ul>
                                            <li>
                                                <p>{{project.date}}, {{project.label}}, {{project.area}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% cycle '' '</div>' %}
        {% if forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="AI Challenge">
    <div class="Category ">
            <h4>AI Challenge</h4>
    </div>
    <div class="Contents">
        {% for ai in ai_challenges %}
        {% if ai.status != 'To Do' %}
        <div class="single-tab-content">
            <div class="single-item">
                <h6>
                    {% if ai.link == 'None'%}
                    <p>
                        {{ai.title}}
                    </p>
                    {% else %}
                    <p>
                        {{ai.title}}
                        <a href={{ ai.link }} target="_blank"> [Link]</a>
                    </p>
                    {% endif %}
                </h6>
                <div class="item">
                    <div class="item-content">
                        <div class="lower-content clearfix">
                            <div class="text">
                                <ul>
                                    {% if ai.assign %}
                                    <li>
                                        <p>{{ ai.assign }}</p>
                                    </li>
                                    {% endif %}
                                    {% if ai.area %}
                                    <li>
                                        <p>{{ai.area}}</p>
                                        {% if ai.award %}
                                        <ul>
                                            <li>{{ ai.award }}</li>
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% else %}
                                        {% if ai.award %}
                                        <li>{{ ai.award }}</li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}


