{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="Project">
    <div class="Category">
            <h4>Projects</h4>
    </div>
    <div class="Contents">
        <ol reversed>
            {% for project in projects %}
            <li>
                {% if project.status == 'Doing'  %}
                <p>
                    <span>
                        <strong>{{project.title}}</strong>
                    </span>
                    - ongoing
                </p>
                <ul>
                    <li>
                        <p>{{project.date}}, {{project.label}}, {{project.area}}</p>
                    </li>
                </ul>
                {% else %}
                <p>
                    <span>
                        <strong>{{project.title}}</strong>
                    </span>
                </p>
                <ul>
                    <li>
                        <p>{{project.date}}, {{project.label}}, {{project.area}}</p>
                    </li>
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
<div class="AI Challenge">
    <div class="Category ">
            <h4>AI Challenge</h4>
    </div>
    <div class="Contents">
            <ol reversed>
                {% for ai in ai_challenges %}
                <li>
                    {% if ai.status != 'To Do' %}
                    {% if ai.link == 'None'%}
                    <p>
                        <span>
                            <strong>{{ai.title}}</strong>
                        </span>

                    </p>
                    {% else %}
                    <p>
                        <span>
                            <strong>{{ai.title}}</strong>
                            <a href={{ ai.link }} target="_blank"> [Link]</a>
                        </span>

                    </p>
                    {% endif %}
                    <ul>
                        <li>
                            <p>{{ ai.assign }}</p>
                        </li>
                        <li>
                            <p>[{{ai.label}}] {{ai.area}}</p>
                            <ul>
                                <li>{{ ai.award }}</li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
    </div>

</div>

{% endblock %}