/* .logo-text {
    text-align: middle;
    font-weight: bold;
    display: inline-block;
} */
.logo-text {
    display: inline-block;
    line-height: 1;
    max-width: 380px;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
}

.category {
    text-align: right;
    vertical-align: middle;
    margin-left: auto;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.offcanvas-start {
    width: 250px;
}

.logo {
    display: inline-block;
    max-height: 56px;
    max-width: 225px;
    padding: 9px 0px;
    vertical-align: middle;
}

.navbar-toggler {
    padding: 2px 3px;
    font-size: 1rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 .1rem;
}