.Contents {
    width: 100%;
    padding: 0% 0%;
}

p {
    font-size: 0.8rem;
}

.profile-element {
    padding: 1% 2%;
}

.card-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 0%;
}


.profile {
    margin: 40px 0%;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 5px 25px 0 rgba(204, 204, 204, .75);
}

.profile-img {
    border-radius: 50%;
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-height: 200px;
    margin: 3% 3%;
}

ul li {
    text-align: left;
}

li {
    list-style-type: none;
}

h6 {
    padding-top: 1.5%;
    color: #760023;
    width: auto;
    display: block;
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 5px;
    font-weight: 700;
}

.profile-element h3 {
    padding-top: 1.5%;
    color: black;
    width: auto;
    text-align: left;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 5px;
    font-weight: 700;
}

.text {
    margin-bottom: 0;
    color: #333;
    float: left;
    margin-top: 8px;
}

.text li {
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    margin-left: 12px;
    list-style-type: circle;
}