html {
    min-width: 700px;
}

.Contents {
    width: 100%;
    padding: 3% 3%;
    max-width: 1500px;
}

p {
    font-size: 13px;
}

.profile-element {
    margin-left: 3%;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
}

.card-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile {
    margin: 15px 15px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 5px 25px 0 rgba(204, 204, 204, .75);
    display: flex;
    justify-content: center;

}

.profile-img {
    border-radius: 50%;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    margin: 5% 3%;
}

ul li {
    text-align: left;
}

li {
    list-style-type: none;
}

h6 {
    padding-top: 1.5%;
    color: #760023;
    width: auto;
    display: block;
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 5px;
    font-weight: 700;
}

.profile-element h5 {
    padding-top: 1.5%;
    color: black;
    width: auto;
    text-align: left;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 5px;
    font-weight: 700;
}

.text {
    margin-bottom: 0;
    color: #333;
    float: left;
    margin-top: 8px;
}

.profile-element p {
    padding-top: 1.5%;
    color: #760023;
    width: auto;
    display: block;
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 5px;
    font-weight: 700;
}

.text li {
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    margin-left: 12px;
    list-style-type: circle;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 0%;
    margin: 0% 0%;
}

@media (min-width: 1555px) {
    .row {
        justify-content: space-between;
    }

}

@media (max-width: 1555px) {
    .row {
        justify-content: center;
    }
}

@media (min-width: 880px) {
    .card-inner {
        flex-direction: row;
    }

    .card {
        min-width: 700px;
        max-width: 700px;
        min-height: 380px;
        max-height: 380px;
    }

    ul {
        padding-left: 2rem;
    }
}

@media (max-width: 880px) {
    .card-inner {
        flex-direction: column;
    }

    .card {
        width: 100%;
        min-width: 600px;
        max-width: 600px;
        height: auto;
    }

    ul {
        padding: 0% 0%;
    }
}