.Contents {
    width: 100%;
    padding: 3% 0px 0px 0px;
    max-width: 1240px;
}

p,
a {
    font-size: 1rem;
}

.card-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile {
    margin: 15px 15px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 5px 25px 0 rgba(204, 204, 204, .75);
    display: flex;
    justify-content: center;

}

.line {
    width: 20%;
    background-color: brown;
    height: 3px;
    margin: 3% 1%;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}

.date {
    width: 100%;
}

.date p {
    text-align: right !important;

}


.name h5 {
    margin-bottom: 0px;
}

.profile-img {
    border-radius: 50%;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    margin: 5% 3%;
    background-position: center;
    background-size: cover;
}

ul li {
    text-align: left;
}


.research_interests {
    height: 128px;
}

.contact {
    height: 95px;
}

h6 {
    padding-top: 1.5%;
    color: #760023;
    width: auto;
    display: block;
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 5px;
    font-weight: 700;
}

.profile-element h5 {
    padding-top: 1.5%;
    color: black;
    width: auto;
    text-align: left;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 5px;
    font-weight: 700;
}

.text {
    margin-bottom: 0;
    color: #333;
    float: left;
    margin-top: 8px;
}

.profile-element p {
    padding-top: 1.5%;
    color: #760023;
    width: auto;
    display: block;
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 5px;
    font-weight: 700;
}

.text li {
    text-align: left;
    font-weight: 500;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 12px;
    list-style-type: circle;
}

.card_item>ul>li {
    list-style-type: none;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 0%;
    margin: 0% 0%;
}

.card_frame {
    text-align: center;
}

.card-body>ul>li {
    list-style-type: none;
}

@media (min-width: 1240px) {
    .row {
        justify-content: space-between;
    }

    .card_frame {
        padding: 0% 15px;
    }
}

@media (max-width: 1240px) {
    .row {
        justify-content: center;
    }

    .card_frame {
        padding: 0% 15px;
    }
}

@media (min-width: 700px) {
    .card-inner {
        flex-direction: row;
    }

    .card {
        min-width: 590px;
        max-width: 590px;
        min-height: 330px;
        max-height: 330px;
    }

    .profile-element {
        margin-left: 3%;
        padding: 1% 2%;
        display: flex;
        flex-direction: column;
    }

    .card_frame {
        padding: 0px 0px;
    }
}

@media (max-width: 700px) {
    .card-inner {
        flex-direction: column;
    }

    .card {
        width: 100%;
        max-width: 450px;
        height: auto;
    }

    .profile-element {
        margin-left: 0%;
        padding: 0% 1%;
        display: flex;
        flex-direction: column;
    }

    .card_frame {
        padding: 0px 0px;
    }
}