.professor_img img {
  width: 100%;
}

.professor_img {
  width: auto;
  text-align: center;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .professor_img {
    width: 30%;
    max-width: 300px;
    margin-right: 5%;
    float: left;
  }
  .text {
    float: left;
    max-width: 60%;
  }
}
