{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/member.css' %}">

<div>
    <div class="Category">
        <h4>Graduate Students</h4>
    </div>
    <div class="Contents">
        <div class="container">
            {% for g in graduated %}
                {% if g.admission_date|length %}
                    {% cycle '<div class="row row-cols-3">' '' '' %}
                <div class="card profile col">
                    <div class="card-inner">
                        <div class="profile-element">
                            <img src="{% get_static_prefix %}image/{{g.pic}}" class="profile-img" alt="...">
                            <div style="width: 20%; background-color:brown; height:3px; margin:3% 1%;"></div>
                            <div style="display: flex; flex-direction:row; align-items:baseline; width:100%;">
                                <h3 style="width:100%">{{g.name}}</h3>
                                <div style="width: 100%;">
                                    {% if g.admission_date|length %}
                                    <h6 style="text-align:right;">
                                        {{g.admission_date}}
                                    </h6>
                                    {% endif %}
                                    {% if g.course|length %} <h6 style="text-align:right;">{{g.course}}</h6>{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="text card-body" style="width:100%">
                            <ul>
                                {% if g.research_interests.all|length %}
                                <li style="list-style-type:none;">
                                    <h6>Research Interests</h6>
                                    <ul>
                                        {% for r in g.research_interests.all %}
                                        <li>
                                            <p>{{r}}</p>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <br>
                                {% endif %}
                                <li style="list-style-type:none;">
                                    <h6>Contact</h6>
                                    <ul>
                                        {% if g.linked.all|length %}
                                        <li>
                                            {% for l in g.linked.all %}
                                            <a href="{{l.link}}">[{{l.title}}]</a>
                                            {% endfor %}
                                        </li>
                                        {% endif %}
                                        <li>
                                            <p>Email: {{g.email}}</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% if forloop.last %}
                {% else %}
                {% endif %}
                {% endif %}
                    {% cycle '' '' '</div>' %}
            {% endfor %}
        </div>
    </div>
</div>

<div>
    <div class="Category">
        <h4>Ungraduate Students</h4>
    </div>
    <div class="Contents container">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    {% for g in graduated %}
                    {% if not g.admission_date|length %}
                    <div class="card profile col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="card-inner">
                            <div class="card-front">
                                <div class="profile-element profile-image"
                                    style="background-image:url({% get_static_prefix %}image/{{g.pic}})">
                                </div>
                                <div class="text" style="float: none; width:100%">
                                    <h5>{{g.name}}</h5>
                                    <ul>
                                        {% if g.course|length %}
                                        <li style="list-style-type:none;">
                                            <h6>Course</h6>
                                            <ul>
                                                <li style="list-style-type:none;">{{g.course}}</li>
                                            </ul>
                                        </li>
                                        {% endif %}
                                        {% if g.admission_date|length %}
                                        <li style="list-style-type:none;">
                                            <h6>Admission Date</h6>
                                            <ul>
                                                <li style="list-style-type:none;">{{g.admission_date}}</li>
                                            </ul>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-element card-body text card-back">
                                <ul style="margin-bottom: 0px;">
                                    {% if g.research_interests.all|length %}
                                    <li style=list-style-type:none;>
                                        <h6>Research Interests</h6>
                                        <ul>
                                            {% for r in g.research_interests.all %}
                                            <li>
                                                <p>{{r}}</p>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <br>
                                    {% endif %}
                                    <li style="list-style-type:none;">
                                        <h6>Contact</h6>
                                        <ul>
                                            {% if g.linked.all|length %}
                                            <li>
                                                {% for l in g.linked.all %}
                                                <a href="{{l.link}}">[{{l.title}}]</a>
                                                {% endfor %}
                                            </li>
                                            {% endif %}
                                            <li>
                                                <p>Email: {{g.email}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if forloop.last %}
                    {% else %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="Contents" style="justify-content:left">
        <ul>
            <li>
                <p>Undergraduate Research Program (URP)</p>
                <ul>
                    <li>
                        <p>
                            4th grade:
                            {% for a in alumni %}
                            {% if a.course == '4th grade' %}
                            {{a}}
                            {% endif %}
                            {% endfor %}
                        </p>
                    </li>
                    <li>
                        <p>
                            3th grade:
                            {% for a in alumni %}
                            {% if a.course == '3rd grade' %}
                            {{a}}
                            {% endif %}
                            {% endfor %}
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <br>
</div>

<div>
    <div class="Category">
        <h4>Alumni</h4>
    </div>
    <div class="Contents" style="justify-content:left">
        <div>
            <ul>
                <li>
                    <p>Graduate Students</p>
                    <ul>
                        <li>
                            <p>Coming in 2022!</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>URP Students</p>
                    <ul>
                        <li>
                            <p>
                                2022:
                                {% for a in alumni %}
                                {% if a.graduate_year == '2022' %}
                                {{a}}
                                {% endif %}
                                {% endfor %}
                            </p>
                        </li>
                        <li>
                            <p>
                                2021:
                                {% for a in alumni %}
                                {% if a.graduate_year == '2021' %}
                                {{a}}
                                {% endif %}
                                {% endfor %}
                            </p>
                        </li>
                        <li>
                            <p>
                                2020:
                                {% for a in alumni %}
                                {% if a.graduate_year == '2020' %}
                                {{a}}
                                {% endif %}
                                {% endfor %}
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}