{% extends 'index.html' %}
{% load static %}
{% block content %}
<div>
    <div class="Category">
        <h4>Graduate Students</h4>
    </div>
    <div class="Contents">
        {% for s in graduate %}
            {% cycle '<div class="row">' '' %}
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img src="{% get_static_prefix %}image/{{s.name}}.jpg" alt="loading" width="100%" class="">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li>
                        <p>{{s.name}},{{s.course}} course,{{s.admission_date}}</p>
                        <ul>
                            <li>
                                <p>Research Interests</p>
                                <ul>
                                    {% for r in s.research_interests %}
                                    <li>{{r}}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <p>Email: {{s.email}}</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <br><br>
            </div>
            {% if forloop.last %}
                </div>
            {% else %}
                {% cycle '' '</div>' %}
            {% endif %}
        {% endfor %} 
    </div>
</div>

<div>
    <div class="Category">
        <h4>Ungraduate Students</h4>
    </div>
    <div class="Contents">
        {% for s in ungraduate %}
            {% cycle '<div class="row">' '' %}
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img src="{% get_static_prefix %}image/{{s.name}}.jpg" alt="loading" width="100%" height="100%" class="">
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li>
                        <p>{{s.name}},{{s.course}}</p>
                        <ul>
                            <li>
                                <p>Research Interests</p>
                                <ul>
                                    {% for r in s.research_interests %}
                                    <li>{{r}}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <p>Email: {{s.email}}</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <br><br>
            </div>
            {% if forloop.last %}
                </div>
            {% else %}
                {% cycle '' '</div>' %}
            {% endif %}
        {% endfor %}
        <br>
        <ul>
            <li>
                <p>Undergraduate Research Program (URP)</p>
                <ul>
                    <li>
                        <p>4th grade: {{urp.4_1}} / {{urp.4_2}}</p>
                    </li>
                    <li>
                        <p>3th grade: {{urp.3_1}}</p>
                    </li>
                </ul>
            </li>
        </ul>
        <br>
    </div>
</div>

<div>
    <div class="Category">
        <h4>Alumni</h4>
    </div>
    <div class="Contents">
        <ul>
            <li>
                <p>Graduate Students</p>
                <ul>
                    <li>
                        <p>Coming in 2022!</p>
                    </li>
                </ul>
            </li>
            <li>
                <p>URP Students</p>
                <ul>
                    <li>
                        <p>2022: {{alumni.2022_1}} / {{alumni.2022_2}} / {{alumni.2022_3}}</p>
                    </li>
                    <li>
                        <p>2021: {{alumni.2021_1}} / {{alumni.2021_2}}</p>
                    </li>
                    <li>
                        <p>2020: {{alumni.2020_1}} / {{alumni.2020_2}} / {{alumni.2020_3}}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
