{% extends 'index.html' %}
{% load static %}
{% block content %}
<div>
    <div class="Category">
        <h4>Graduate Students</h4>
    </div>
    <div class="Contents">
        {% for g in graduated %}
        {% if g.admission_date|length %}
            {% cycle '<div class="row">' '' %}
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img src="{% get_static_prefix %}image/{{g.pic}}" alt="loading" width="100%" class="">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li>
                        <p>
                            {% if g.course|length and g.admission_date|length %}
                            <strong>{{g.name}}</strong>, {{g.course}} course, {{g.admission_date}}
                            {% elif g.course|length %}
                            <strong>{{g.name}}</strong>, {{g.course}} course
                            {% elif g.admission_date|length %}
                            <strong>{{g.name}}</strong>, {{g.admission_date}}
                            {% else %}
                            <strong>{{g.name}}</strong>
                            {% endif %}
                        </p>
                        <ul>
                            {% if g.research_interests.all|length %}
                            <li>
                                <p>Research Interests</p>
                                <ul>
                                    {% for r in g.research_interests.all %}
                                    <li>{{r}}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            <li>
                                <p>Email: {{g.email}}</p>
                            </li>
                            {% if g.linked.all|length %}
                            <li><p>
                                {% for l in g.linked.all %}
                                <a href="{{l.link}}">[{{l.title}}]</a>
                                {% endfor %}
                            </p></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <br><br>
            </div>
            {% if forloop.last %}
                </div>
            {% else %}
                {% cycle '' '</div>' %}
            {% endif %}
        {% endif %}
        {% endfor %} 
    </div>
</div>

<div>
    <div class="Category">
        <h4>Ungraduate Students</h4>
    </div>
    <div class="Contents">
        {% for g in graduated %}
        {% if not g.admission_date|length %}
            {% cycle '<div class="row">' '' %}
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img src="{% get_static_prefix %}image/{{g.pic}}" alt="loading" width="100%" class="">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li>
                        <p>
                            {% if g.course|length %}
                            <strong>{{g.name}}</strong>, {{g.course}}
                            {% else %}
                            <strong>{{g.name}}</strong>
                            {% endif %}
                        </p>
                        <ul>
                            {% if g.research_interests.all|length %}
                            <li>
                                <p>Research Interests</p>
                                <ul>
                                    {% for r in g.research_interests.all %}
                                    <li>{{r}}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            <li>
                                <p>Email: {{g.email}}</p>
                            </li>
                            {% if g.linked.all|length %}
                            <li><p>
                                {% for l in g.linked.all %}
                                <a href="{{l.link}}">[{{l.title}}]</a>
                                {% endfor %}
                            </p></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <br><br>
            </div>
            {% if forloop.last %}
                </div>
            {% else %}
                {% cycle '' '</div>' %}
            {% endif %}
        {% endif %}
        {% endfor %}
        <br>
        <ul>
            <li>
                <p>Undergraduate Research Program (URP)</p>
                <ul>
                    <li>
                        <p>
                            4th grade:
                            {% for a in alumni %}
                            {% if a.course == '4th grade' %}
                                {{a}} 
                            {% endif %}
                            {% endfor %}
                        </p>
                    </li>
                    <li>
                        <p>
                        3th grade:
                        {% for a in alumni %}
                        {% if a.course == '3rd grade' %}
                            {{a}} 
                        {% endif %}
                        {% endfor %}
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
        <br>

    </div>
</div>

<div>
    <div class="Category">
        <h4>Alumni</h4>
    </div>
    <div class="Contents">
        <ul>
            <li>
                <p>Graduate Students</p>
                <ul>
                    <li>
                        <p>Coming in 2022!</p>
                    </li>
                </ul>
            </li>
            <li>
                <p>URP Students</p>
                <ul>
                    <li>
                        <p>
                            2022: 
                            {% for a in alumni %}
                            {% if a.graduate_year == '2022' %}
                                {{a}} 
                            {% endif %}
                            {% endfor %}
                        </p>
                    </li>
                    <li>
                        <p>
                            2021: 
                            {% for a in alumni %}
                            {% if a.graduate_year == '2021' %}
                                {{a}} 
                            {% endif %}
                            {% endfor %}
                        </p>
                    </li>
                    <li>
                        <p>
                            2020: 
                            {% for a in alumni %}
                            {% if a.graduate_year == '2020' %}
                                {{a}} 
                            {% endif %}
                            {% endfor %}
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
