{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/card.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/school.css' %}">
<script type="text/javascript">
    window.onload = function(){
        var matches = document.getElementsByClassName("nav-link");
        for(var i=0; i< matches.length;i++){
            matches[i].classList.remove('active');
        }
        var target = document.getElementById("school").className += ' active';
    };
</script>
<div>
    <div class="Category">
        <div>
            <h4>Seasonal Schools</h4>
        </div>
    </div>
    <div class="container">
        <div class="Contents">
            {% for s in school %}
            {% cycle '<div class="row">' '' %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card_frame">
                    <div class="card_item">
                        <div>
                            <img src="{% get_static_prefix %}image/{{s.title}}.jpg" alt="loading" width="100%"
                                class="school_image">
                        </div>
                        <h6>
                            <p>
                                {{s.title}}
                            </p>
                        </h6>
                        <div class="clearfix">
                            <div class="text">
                                <ul>
                                    {% for l in s.lecture.all %}
                                    <li>
                                        <p>{{l.name}}<a href="{{l.url}}">[link]</a></p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% cycle '' '</div>' %}
            {% if forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


</div>

{% endblock %}