{% load static %}
<!-- Main Header -->

<!-- Header-bottom -->
<div class='header-bottom' style="display: table;">
    <div class='logo-box'>
        <figure><a href="{% url 'main' %}"><img src="{% static 'image/EmbeddedImage.png'%}" alt=""></a></figure>
    </div>
    <nav class='menu-area'>

    </nav>
</div>
<!-- Header-bottom end -->

<!-- Sticky Header -->

<!-- Sticky Header end -->

<!-- <nav class="navbar fixed-top navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">운영체제</a>
            <a class="nav-link" href="#">3조</a>
            <a class="nav-link" href="#">임우열</a>
            <a class="nav-link" href="#">임지수</a>
            <a class="nav-link" href="#">이유호</a>
            <a class="nav-link" href="#">배수빈</a>
        </div>
    </div>
</nav> -->
