html {
  position: relative;

  min-height: 100%;

  margin: 0;
}

body {
  min-height: 100%;
}

footer {
  margin-top: 100px;
  text-align: center;
  width: 100%;
  background-color: rgba(131, 2, 22, 1);
  left: 0;
  bottom: 0;
  color: white;
}
