html {
  position: relative;

  min-height: 100%;

  margin: 0;
}

body {
  min-height: 100%;
}

footer {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: rgba(131, 2, 22, 1);

  position: absolute;

  left: 0;

  bottom: 0;

  color: white;
}
