div.carousel-inner img {
    margin: auto;
    top: -100%;
    bottom: -100%;
    overflow: hidden;
}

div.carousel-inner h5 {
    color: azure;
    display: none;
}

.container {
    max-width: 1920px;
    margin: auto auto;
}

.container p {
    font-size: 1rem;
    vertical-align: baseline;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    div.carousel-inner h5 {
        display: inherit
    }

    .location {
        display: flex;
    }

    .location ul {
        max-width: 60%;
    }

    .location iframe {
        max-width: 40%;
    }
}