{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/news.css' %}">
<div class="News">
    <div class="Category">
        <h4>News</h4>
    </div>
    <div class="Contents">
        <ul>
            {% for n in news %}
            <section style="background-size: cover; display: table; position: relative; table-layout: fixed; width: 100%;">
                {{n.htmldata|safe}}
                <br><br>
            </section>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}