.mobile-date {
  margin-top: 6px;
  color: #888;
  font-size: 13px;
}

.text_whole li {
  text-align: left;
  font-weight: 500;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  margin-left: 12px;
  list-style-type: circle;
  word-break: break-all;
}

.news_img img {
  width: 100%;
}

.item {
  position: relative;
  width: 100%;
  margin: 0px;
}

@media (min-width: 768px) {
  .news_img {
    max-width: 30%;
    margin-left: 5%;
  }

  .item {
    width: 60%;
  }

  .card_frame .card_item {
    display: flex;
  }
}
