{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="Course">
    <div class="Category">
        <h4>Course</h4>
    </div>
    <div class="Contents">
        <ul>
            {% for course in courses %}
            <li>
                <p>{{course.code}}</p>
                <p>{{course.name}}</p>
                <ol>
                    {% for semester in course.semester %}
                    <li>{{semester}}</li>
                    {% endfor%}
                    <li></li>
                </ol>
            </li>
            {% endfor %}
        </ul>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"></button>
    </form>
</div>
{% endblock %}