{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="Course">
    <div class="Category">
        <h4>Course</h4>
    </div>
    <div class="Contents">
        <ul>
            {% for key, value in semester.items %}
            <li>
                <p>{{key}}</p>
                <ul>
                    {% for i in value %}
                    <li>
                        <p>{{i}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}