{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/course.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/card.css' %}">
<script type="text/javascript">
    window.onload = function(){
        var matches = document.getElementsByClassName("nav-link");
        for(var i=0; i< matches.length;i++){
            matches[i].classList.remove('active');
        }
        var target = document.getElementById("course").className += ' active';
    };
</script>
<div class="Course">
    <div class="Category">
        <h4>Course</h4>
    </div>
    <div class="container">
        <div class="Contents">
            {% for semester in semesters %}
            <div class="card_frame">
                <div class="card_item">
                    <h6>
                        <p>
                            {{semester}}
                        </p>
                    </h6>
                    <div class="clearfix">
                        <div class="text">
                            {% for course in courses %}
                            {% for s in course.semester.all%}
                            <ol>
                                {% if semester == s %}
                                <li>{{course.code}},<strong>{{course.name}}</strong></li>
                                {% endif %}
                            </ol>
                                {% endfor%}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"></button>
    </form> -->
</div>
{% endblock %}

